body {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*Title Section*/
#title {
  background-color: #ff4c68;
}

@media (max-width: 1028px){
  #title {
    text-align: center;
  }
}

/* Navigation Bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
  transform: rotate(25deg);
  position: absolute;
  width: 60%;
  right: 30%;
}

/*Para ajustar la imagen en absolute al nuevo div relative*/
.img-div {
  position: relative;
}

@media (max-width: 1028px){
  .title-image{
    position: static;
    transform: rotate(0);
  }
}


/* Features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-icon {
  color: #ef8172;
  size: 7x;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Testimonials section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 80px;
}

.pricing-card {
  padding: 3% 2%;
}

/* Call to action Section */

#cta{
  background-color:  #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

.cta-text{
font-size: 3rem;
line-height: 1.5;

}

/* Footer section */

#footer{
  text-align: center;
  /* margin: 5% 3% 5%; */
  padding: 7% 15%;
}

.icon-footer{
  margin: 0 1% 2%;
}
